#diff-rep {
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-color: #dddddd;
    border-radius: 4px;
    font-family:courier, "courier new", monospace;
}

.unchanged-line-div {
    padding-left: 5px;
    max-width:100%;
}

.removed-line-div {
    padding-left: 5px;
    max-width:100%;
    background-color: #ffecec;
}

.added-line-div {
    padding-left: 5px;
    max-width:100%;
    background-color: #eaffea;
}

.top-line-div {
    padding-left: 5px;
    padding-top: 5px;
}

.bottom-line-div {
    padding-left: 5px;
    padding-bottom: 5px;
}
